*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: auto;
    height: auto;
}
.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 0 310px 0 310px;
}
.head .left{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
}
.head .left h5{
    color: rgb(146, 146, 146);
}
.head .left div {
    color: gray;
    font-size: 25px;
}
.main_head{
    background-color: rgb(29, 29, 29);
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 0 310px 0 310px;
    
}
.content .main_left{
    flex-direction: column;
}
.content .main_left h3 {
    color: rgb(44, 205, 205);
    margin: 15px;
}
.content .main_left h1{
    color: aliceblue;
    margin: 15px;
}
.content .main_left p{
    color: rgb(168, 166, 166);
    margin: 15px;
}
.content .main_left .btn_live{
    margin: 15px;
    background-color: rgb(44, 205, 205);
    color: aliceblue;
    width: 110px;
    height: 40px;
    border-radius: 5px;
}
.content .main_left .btn_live:hover{
    color: rgb(44, 205, 205);
    background-color: aliceblue;
}
.content_bottom{
    background-color:rgb(240, 240, 240) ;
}
.content_bottom .head {
    display: block;
    text-align: center;
    justify-content: center;
    padding: 20px;
    margin: 0 310px 0 310px;
}
.content_bottom .head h2{
    color: rgb(75, 72, 72);
}
.content_bottom .head h6{
    color: rgb(211, 206, 206);
    font-size: 15px;
}
.content_bottom .bottom_center{
    background-color: rgb(207, 207, 207);
}
.content_bottom .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 310px 0 310px;
    padding: 20px;
}
.content_bottom .bottom .box_1{
    display: flex;
    background-color: aliceblue;
    height: 100px;
}
.content_bottom .bottom .box_1 .left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    background-color: rgb(247, 243, 243);
}
.content_bottom .bottom .box_1 .left img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.content_bottom .bottom .box_1 .right{
    background-color: white;
    align-content: center;
    justify-content: center;
}
.content_bottom .bottom .box_1 .right .star{
    display: flex;
    margin-top: 10px;
    gap: 5px;
    color: rgb(245, 245, 88);
}
.content_bottom .bottom .box_1 .right .star p{
    color: rgb(124, 199, 249);
}
.content_bottom .bottom .box_2{
    display: flex;
    background-color: aliceblue;
    height: 100px;
}
.content_bottom .bottom .box_2 .left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    background-color: rgb(247, 243, 243);
}
.content_bottom .bottom .box_2 .left img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.content_bottom .bottom .box_2 .right{
    background-color: white;
    align-content: center;
    justify-content: center;
}
.content_bottom .bottom .box_2 .right .star{
    display: flex;
    margin-top: 10px;
    gap: 5px;
    color: rgb(245, 245, 88);
}
.content_bottom .bottom .box_2 .right .star p{
    color: rgb(124, 199, 249);
}
